/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#262626;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}

.App-link {
  color: #61dafb;
}

/* Estilos para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #262626;
  box-shadow: 0px 5px 29px 0px #2271D1B2;
  border-bottom: 4px solid var(--Blue, #2271D1)
}

.header .logo {
  width: 150px;
  padding-left: 20px;
}

.header .logo img {
  width: 150px;
  height: auto;
}

.header .nav {
  display: flex;
  gap: 10px;
}

.header .nav a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 10px;
  box-shadow: 0px 5px 29px 0px #2271D1B2;
  transition: color #2271D1 0.3s ease;
  display: inline-block;
}

.header .nav a:hover {
  background-color: #000;
  color: #2271D1;
}

.header .nav a.home-btn {
  width: 130px;
  height: 35px; 
  border: 1px solid #2271D1; 
  background-color: #000;
  border-radius: 4px; 
  padding: 8px 16px; 
  color: #2271D1; 
  font-weight: bold; 
}

.header .nav a.home-btn:hover {
  background-color: #1c5eb9; 
  color: #ffffff; 
}

.header .nav a.new-video-btn {
  width: 130px; 
  height: 35px; 
  border: 1px solid #ffffff; 
  background-color: #262626;
  color: #ffffff;
  padding: 8px 16px;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: bold; 
}

.header .nav a.new-video-btn:hover {
  background-color: #1c5eb9;
  color: #ffffff
}

/* Estilos para el banner */
.banner {
  height: 832px;
  background-image: url('./assets/imagenes/banner-img.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.banner-row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.banner-col {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-right: 20px; 
}

.banner-col-left {
  align-items: flex-start;
  max-width: 50% !important;
}

.banner-col-right {
  align-items: center;
  max-width: 50% !important;
}

.banner-btn {
  width: 175px; 
  height: 50px; 
  background-color: #6BD1FF; 
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 27px;
  margin-left: -405px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.banner-title  {
  font-size: 22px !important;
  margin: 0px;
  margin-bottom: 5px;
  margin-left: -405px;
}

.banner-description {
  font-size: 14px !important;
  line-height: 1.5;
  margin: 0px;
  margin-left: 30px;
  text-align: justify;
}

.banner-card {
  margin-right: 70px;
  width: 400px;
  max-width: 100%;
  border-radius: 8px;
  border: 2px solid  #6BD1FF; 
  box-shadow: 0px 5px 29px 0px #6BD1FF;
  transition: color #6BD1FF 0.3s ease;
}

.banner-card img {
  width: 100% !important;
  height: 200px;
  border-radius: 8px;
}


/* HOME */
.category-button {
  display: block;
  margin: 10px 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 115px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  margin-left: 110px;
  margin-right: -260px;
  margin-top: 20px;
}

.cards .card {
  width: calc(100% - 20px); 
  margin: 10px; 
  margin-bottom: 80px;
  margin-top: 10px;

}

/* ESTILOS */
/* General Styles for each category */
.video-column.frontend {
  background-color:#262626;
  margin-top: -10px;
}

.video-column.backend {
  background-color: #262626;
  margin-top: -10px;
}

.video-column.productividad {
  background-color: #262626;
  margin-top: -10px;
}

/* Button Styles for each category */
.category-button.frontend-button {
  color: #ffffff;
  font-weight: bold;
  width: 232px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #6BD1FF;
  background-color: #6BD1FF;
  border-radius: 8px;
}

.category-button.backend-button {
  color: #ffffff;
  font-weight: bold;
  width: 232px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid  #00C86F;
  background-color:#00C86F;
  border-radius: 8px;
  
}

.category-button.productividad-button {
  color: #ffffff;
  font-weight: bold;
  width: 232px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #FFBA05;
  background-color:#FFBA05;
  border-radius: 8px;
}

/* Card Styles for each category */
.cards.frontend-cards .card {
  border: 3px solid #6BD1FF;
  box-shadow: 0px 0px 17px 2px #6BD1FF;
  
}

.cards.backend-cards .card {
  border: 3px solid #00C86F;
  box-shadow: 0px 0px 17px 2px #00C86F;
}

.cards.productividad-cards .card {
  border: 3px solid #FFBA05;
  box-shadow: 0px 0px 17px 2px #FFBA05;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  margin-top: -5px;
  height: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px; 
  margin-top: 10px; 
}

.button-container button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.edit-button {
  color: white;
  font-weight: bold;
  background-color: transparent;

}

.delete-button {
  color: white;
  font-weight: bold;
  background-color: transparent;
}

/* Estilos para el formulario de nuevo video */
.form-container {
  max-width: 1500px !important;
  margin: 20px auto;
  padding: 40px;
  background: #000000E5 !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: -1px !important; 
  margin-top: -1px !important; 
}

.form-container h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color:#F5F5F5;
  max-width: 800px !important;
  margin-left: 235px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-container p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF;
  max-width: 800px !important;
  margin-left: 235px;
  margin-bottom: 60px;
}

.form-container h2 {
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-align: justify;
  max-width: 800px !important;
  margin-left: 235px;
  margin-bottom: 60px !important;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-left: 235px;
  color: #FFFFFF;
  text-align: justify;
  font-size: 14px;
  max-width: 800px !important;
 
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #262626 !important;
  border-radius: 4px;
  background-color:transparent !important;
  color: #A5A5A5;
  font-size: 12px;
  max-width: 800px !important;
  margin-bottom: 30px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
}

.form-group .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-save{
  padding: 10px 20px;
  border: 1px solid #2271D1 !important;
  background-color:transparent !important;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px !important; 
  margin-left: 230px !important;
  width: 110px;
}

.btn-clear{
  padding: 10px 20px;
  border: 1px solid #FFFFFF !important;
  background-color:transparent !important;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px !important; 
  margin-right: 230px !important;
  width: 110px;
}

.btn-save:hover {
  background-color: #5a6268;
}

.btn-clear:hover {
  background-color: #5a6268;
}


/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 35% !important;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 207px !important;
}

.modal-content {
  background-color: #03122F !important;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #6BD1FF
}

.modal-content h2 {
  font-size: 25px !important;
  font-weight: bold;
  margin-bottom: -15px !important;
  margin-top: -10px;
  text-align: justify;
  color:  #2271D1;
  width: 575px;
  height: 70px;
  
}

.modal-form-group {
  margin-bottom: 10px;
  text-align: justify;
  color: #ffff;
  background-color: #03122F;
}

.modal-form-group label {
  display: block;
  margin-bottom: 3px;
  width: 400px !important;
  height: 30px;
  font-weight: normal !important;
}

.modal-form-group input,
.modal-form-group select,
.modal-form-group textarea {
  padding: 8px;
  border: 2px solid #2271D1 !important;
  border-radius: 10px !important;
  background-color: #03122F;
  color: #ffffff;
}

.modal-btn-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px;
  margin-bottom: -5px;
  gap: 275px;

}

.modal-g-btn {
  padding: 8px 16px;
  color: #2271D1;
  font-weight: bold !important;
  border: 2px solid var(--Blue, #2271D1);
  box-shadow: 0px 0px 8px 1px #2271D1 inset;
  border-radius: 10px !important;
  cursor: pointer;
  background: #000000E5;
  width: 110px;
  height: 40px;
}

.modal-l-btn {
  padding: 8px 16px;
  color: #ffffff;
  font-weight: bold !important;
  border: 2px solid #F5F5F5;
  border-radius: 10px !important;
  cursor: pointer;
  background: #03122F;
  width: 110px;
  height: 40px;
}

.modal-g-btn:hover {
  background-color: #4cccb0;
  border: none;
  color: #fff;
  box-shadow: none;
}

.modal-l-btn:hover {
  background-color: #4cccb0;
  border: none;
  color: #fff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #64ffda;
  font-size: 30px;
  font-weight: bold;
  border: solid #2271D1;
  cursor: pointer;
}

/* Estilos para el footer */
.App-footer {
  background: #000000E5;
  padding: 20px 0;
  text-align: center;
  border-top: 4px solid var(--Blue, #2271D1);
  box-shadow: 0px 5px 29px 0px #2271D1B2;
}

.App-footer img {
  width: 100px;
  height: auto;
}
